
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(187, 248, 255);
    width: 100vw;
}

section{
    border: 5px;
    border-style: dotted;
    border-color: blue;
}

h1{
    text-align: center;
}

aside{
    text-align: center;
}



/*surfplatta*/
@media screen and (min-width: 768px){
    .container{
        display: grid;
        grid-template-areas: 
        "a a a"
        "b c c"
        "b c c";
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 0.2fr;
        background-color: rgba(254, 244, 185, 0.737);
        width: 80vw;
        margin: 3rem;
    }

    header{
        grid-area: a;
    }
    
    h1{
        margin: 2rem;
    }
    
    aside{
        grid-area: b;
        margin: 2rem;
    }
    
    section{
        grid-area: c;
        margin-right: 2rem;
    }

}


/*laptop/desktop*/
@media screen and (min-width: 1024px){
    .container{
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 0.2fr;
        background-color: rgb(158, 194, 194);
        width: 60vw;
        margin: 4rem;

    }
    
}
    

